@import 'colors';
@import 'hero';

html {
  min-height: 100vh;
}

a {
  color: $secondary-main;
  text-decoration: none;
}

a:hover {
  color: $secondary-light;
}

a:visited {
  color: $secondary-main;
}

.home-container {
  display: flex;
  flex-direction: column;
  overflow: none;
  height: 97vh;
  background-color: white;
}
